<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../static/css/kg.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <style>
        body {
            background: linear-gradient(90deg, #ffffff, #d2e0f8)
        }

        .container {
            width: 100%;
            height: 35rem;

            float: right;
            display: flex;
        }

        .btn_container {
            width: 100%;
            height: 10rem;
            text-align: center;
        }

        .btn_container:after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        #toast-container {
            top: 80%;
            right: 45%;
        }
    </style>
</head>

<body>
    <nav style="background:#007497e0">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="
            margin-left: 1rem;
            font-size: 1.2rem;
        ">焊接知识图谱</a>
        </div>
    </nav>
    <!-- <div id="container" class="container"></div> -->

    <div class="row" style="margin-top: 10px; display: flex;">
        <ul class="collapsible" data-collapsible="accordion" style="margin-left: 4rem;width: 26rem">
            <li class="active">
                <div class="collapsible-header">节点数据</div>
                <div class="collapsible-body" style="display: block;">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="t1" class="materialize-textarea"
                                        style="border-bottom: 0px;width: 24rem;"></textarea>
                                    <label for="textarea1">请输入节点数据</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="active">
                <div class="collapsible-header">关系数据</div>
                <div class="collapsible-body" style="display: block;">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="t2" class="materialize-textarea"
                                        style="border-bottom: 0px;width: 24rem;"></textarea>
                                    <label for="textarea1">请输入关系数据</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="btn_container">
                <a class="waves-effect waves-light btn-large" href="javascript:render();">渲染</a>
            </li>
        </ul>
        <div class="col s12 m7" style="float: right; margin-right: 4rem;">
            <div class="card">
                <div id="container" class="card-image container">
                    <span class="card-title" style="color: #868181;">weld Graph</span>
                </div>
                <div class="card-content" style="background: aliceblue;">
                    <p>焊接知识图谱可视化解决方案</p>
                </div>
                <div class="card-action">
                    <a style="color: #077abd;" href="http://www.deepthinkai.top">deepthink</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/d3.v3.min.js"></script>
    <script src="../static/js/kg.js"></script>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script>
        $.ajax({
            url: "http://127.0.0.1:5000/KGDATA",
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                "type": "node"
            }),
            success: function (data) {
                document.getElementById("t1").value = JSON.stringify(data);
            }
        })

        $.ajax({
            url: "http://127.0.0.1:5000/KGDATA",
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                "type": "relation"
            }),
            success: function (data) {
                document.getElementById("t2").value = JSON.stringify(data);
                render();
            }
        })

        contentHook = function (item) {
            return "<div>" + item.name + "</div>"
        }
        function render() {
            try {
                $("svg").remove()
                var data = {}
                data.nodes = JSON.parse(document.getElementById("t1").value);
                data.links = JSON.parse(document.getElementById("t2").value);
                var config = {
                    //鼠标mouseover后的弹窗
                    // content: document.getElementById("t5").value,
                    contentHook: null,
                    //节点配色方案（可为空)
                    // nodeColor: document.getElementById("t3").value,
                    //连接线配色方案（可为空）
                    // linkColor: document.getElementById("t4").value,
                    width: document.getElementById("container").clientWidth,
                    height: document.getElementById("container").clientHeight
                }
                initKG(data, config, "#container")
            } catch (err) {
                Materialize.toast('渲染存在异常', 2000)
            }
        }


    </script>

</body>